{% extends 'base.html' %}
{% from 'pagination.html' import pagination %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'visits.logging' %} active {% endif %}" aria-current="page"
            href="{{url_for('visits.logging')}}">Журнал посещений</a>
    </li>
    {% if current_user.can('show') %}
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'visits.pages_stat' %} active {% endif %}" href="{{url_for('visits.pages_stat')}}">Статистика посещения страниц сайта</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'visits.users_stat' %} active {% endif %}" href="{{url_for('visits.users_stat')}}">Статистика по пользователям</a>
    </li>
    {% endif %}
</ul>
{% block logs %}
{% endblock %}
{% endblock %}