{% extends 'visits/base.html' %}

{% block logs %}
<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                ID log
            </th>
            <th>
                Пользователь
            </th>
            <th>
                Страница
            </th>
            <th>
                Дата
            </th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>
                {{loop.index}}
            </td>
            <td>
                {{log.id}}
            </td>
            <td>
                {{log.FIO or 'Анонимный пользователь'}}
            </td>
            <td>
                {{log.path}}
            </td>
            <td>
                {{ log.created_at }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Навигация по страницам -->
{{ pagination(current_page, last_page, request.endpoint) }}
{% endblock %}