{% extends 'base.html' %}

{% block content %}
<div class="col-lg-12">
    <h1 class="my-5">{{ post.title }}</h1>
    <p class="author-and-date">{{ post.author ~ ', ' ~ post.date.strftime('%d.%m.%Y') }}</p>
    <img class="card-img-post" src="{{ url_for('static', filename='images/' + post.image_id) }}" alt="Card image cap">
    <p class="mb-4" style="text-align: justify;">{{ post.text }}</p>
    <div class="comment mb-5">
        <div class="comm d-flex" style="background-color: lightgray; height: 40px; align-items: center;border-radius: 10px 10px 0 0">
            <p class="" style="margin-left: 2%; height: 100%; margin-bottom: 0;">Оставьте комментарий</p>
        </div>
        <div style="margin: 2%;">
            <div class="mb-3">
                <textarea class="form-control" id="" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </div>
    <div class="d-flex mb-5">
        <div class="flex-shrink-5" style="max-width: 5%;">
            <i class="bi bi-person" style="width: 100%;"></i>
        </div>
        <div class="flex-grow-1 ms-3">
            <h5>Garry Potter <small class="text-muted"><i>Posted on November 4, 2001</i></small></h5>
            <p>Happiness can be found even in the darkest of times, if one only remembers to turn on the light.</p>

            <div class="d-flex mt-4">
                <div class="flex-shrink-5" style="max-width: 5%;">
                    <i class="bi bi-person" style="width: 100%;"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5>Kendall Jenner <small class="text-muted"><i>Posted on December 25, 2018</i></small></h5>
                    <p>I like to go outside at night by myself and look at the sky and just appreciate it. I am not that big of a weirdo, but occasionally.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}