
{% extends 'base.html' %}

{% block content %}


<h1>{{title}}</h1>

<section id="section-author-and-date">
    <div class="d-flex justify-content-between">
        <p class="fs-4">Автор: {{post.author}}</p>
        <p class="fs-4">Дата и время публикации: {{post.date.strftime('%d.%m.%Y %H:%M')}}</p>
    </div>
</section>

<section id="section-content-of-post">
   
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-xl-8">
            <img class="img-style-default" src="{{ url_for('static', filename='images/' ~ post.img_id ~ '.jpg') }}"
                alt="">
        </div>
    </div>
  
    <section id="text-of-the-post">
        <p class="fs-4">{{post.text}}</p>
    </section>
</section>

<section id="section-comment-form">
   
    <div class="card">
        <div class="card-header">Оставьте комментарий</div>
        <form action="{{ url_for('post', post_id=post.index) }}" class=" card-body" method="post">
            <div class="mb-3 card-text">
               
                <textarea class="form-control" style="height: 100px" name="comment" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</section>
<section id="comments">
  
    {% for comment in post.comments %}
    <div class="d-flex mb-3 comment-style-default">
        <div class="flex-shrink-0">
            <img width="50px" src="{{ url_for('static', filename='images/' ~ 'avatar.jpg') }}"
                class="rounded-circle img-style-default" alt="Avatar">
        </div>
        <div class="flex-grow-1 ms-3">
            <h5>{{ comment.author }} <small class="text-muted"><i>Posted on {{ comment.date.strftime('%d.%m.%Y %H:%M')
                        }}</i></small></h5>
            <p>{{ comment.text }}</p>
          
            {% if comment.reply %}
            
            {% for comment in comment.reply %}
            <div class="d-flex justify-content-start mt-3 comment-in-style-default">
                <div class="flex-shrink-0">
                    <img width="50px" src="{{ url_for('static', filename='images/' ~ 'avatar.jpg') }}"
                        class="rounded-circle img-style-default" alt="Avatar">
                </div>
                <div style="margin-left: 10px;">
                    <h5>{{ comment.author }} <small class="text-muted"><i>Posted on {{ comment.date.strftime('%d.%m.%Y
                                %H:%M') }}</i></small></h5>
                    <p>{{ comment.text }}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}